*{
    margin: 0;
    padding: 0;
    
}
body{
    //background-size: 1280px 920px;
    background-position: center; 
    background-size: cover;
    height: 100vh;
    background-color: darkgray;
    overflow-x: hidden;

    img{
        height: 100vh;
        width: 100%;
    }

}
nav{
    background-color: rgba(0, 0, 0, 0.808);
    color:rgb(202, 108, 74);
    text-align: center;
    font-family: 'Grenze Gotisch', cursive;
    font-size: 2rem;

    span{
        color: orange;
    }

    ul{
        display: flex;
        justify-content: space-around;
        li{
            width: 20px;
            list-style: none;
        }
    }
}
.slogan{
    background-color: #22252a;
    color: white;
    width: 100%;
    height: 5vh;
    text-align: center;
    
    span{
        font-family: 'Dancing Script', cursive;
        font-size: 2rem;
    }
}
.food{
    display: inline;
    min-height: 100vh;
    padding: 60px 15px;
    .card{
        width: 30%;
        height: 40px;
        float: left;
        padding: 0px 15px;

    }
    .box{
        padding: 15px;
        background-color: #2d3035;
        border-radius: 5px;

        img{
            height: 50vh;
            width: 350px;
              display: block;
              margin: 1px auto; 
             
        }
    }

}
a{
    color: #fff;
    text-decoration: none;    
}
