* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family:'Grenze Gotisch', 'Lucida Sans Unicode', cursive;
    margin: 0; 
    padding: 0;
    background-color: rgba(128, 128, 128, 0.425);
    position: relative;
}

main {
    margin: 1%;
}

.header_img {
    position: relative;
}

.header_img img {
    width: 100%;
}

.header_text {
    position: absolute;
    left: 38%;
    bottom: 5%;
    color: white;
}

.menuContent {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.2rem;
}

.cart {
    width: 40%;
    /* background-color: rgba(99, 4, 4, 0.479); */
    border-radius: 5px;
    margin: 0rem;
    padding: 0.5rem;
}

@media only screen and (max-width: 768px) {
   
    .header_text {
        position: absolute;
        left: 8%;
        bottom: 5%;
        color: white;
    }

    [class*="cart"]{
        width: 100%;
    }

    [class*="cart"] img {
        width: 100%;
    }

    [class*="cart"] button {
        width: 100%;
    }

}

.menuItem {
    width: 32%;
    background-color: rgba(99, 4, 4, 0.479);
    border-radius: 5px;
    margin: 0.5rem;
    padding: 0.5rem;
}

.menuItem img {
    width: 100%;
} 

.menuItem button {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 1em;
}

.menuItem button:hover {
    background-color: rgba(122, 5, 5, 0.781);
    color: white;
    cursor: pointer;
}

h2 {
    text-align: center;
    color: rgba(49, 1, 1, 0.897);
}

.span {
    height: 6rem;
  }

.cart-title {
    text-decoration: none;
    padding-left: 10rem;
}

.cart-title a {
    color:blue;
}

  @media only screen and (max-width: 768px) {
    [class*="menuItem"]{
        width: 100%;
    }

    .cart-title {
        padding-left: 2rem;
    }
    
}

